body {
    color: $grey;
    font-size: 16px;
    line-height: 26px;
    font-family: Uni-Sans;
    font-style: normal;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    background-color: #FFFFFF;
    font-weight: 400;
}