@font-face {
    font-family: 'Brandon Grotesque';
    src: url('http://martinluz.com/clientes/kacowicz/assets/fonts/BrandonGrotesque-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('http://martinluz.com/clientes/kacowicz/assets/fonts/BrandonGrotesque-RegularItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('http://martinluz.com/clientes/kacowicz/assets/fonts/BrandonGrotesque-Medium.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('http://martinluz.com/clientes/kacowicz/assets/fonts/BrandonGrotesque-Light.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('http://martinluz.com/clientes/kacowicz/assets/fonts/BrandonGrotesque-Bold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('http://martinluz.com/clientes/kacowicz/assets/fonts/BrandonGrotesque-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('http://martinluz.com/clientes/kacowicz/assets/fonts/BrandonGrotesque-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('http://martinluz.com/clientes/kacowicz/assets/fonts/BrandonGrotesque-RegularItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('http://martinluz.com/clientes/kacowicz/assets/fonts/BrandonGrotesque-MediumItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('http://martinluz.com/clientes/kacowicz/assets/fonts/BrandonGrotesque-LightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('http://martinluz.com/clientes/kacowicz/assets/fonts/BrandonGrotesque-Medium.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('http://martinluz.com/clientes/kacowicz/assets/fonts/BrandonGrotesque-Bold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('http://martinluz.com/clientes/kacowicz/assets/fonts/BrandonGrotesque-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('http://martinluz.com/clientes/kacowicz/assets/fonts/BrandonGrotesque-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}