$blue: #284C6C;
$grey: #F2F2F2;
$greye: #575757;
$greyc: #A9A9A9;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 0px;
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,800&display=swap');
$font: 'Poppins',
sans-serif;
$transition: .35s ease-in-out;
$font: 'Brandon Grotesque',
sans-serif;